<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <form class="form" id="draw-form" onsubmit="return false;">
        <div class="form-group">
          <label class="control-label">Cluster</label>
          <select class="form-control" id="cluster">
            <% settings.clusters.each_key do |name| %>
              <option value="<%= name %>">
                <%= name %>
              </option>
            <% end %>
          </select>
          </div>
        <div class="form-group">
          <label class="control-label">Levels</label>
          <input type="text" class="form-control" id="levels" value="0">
        </div>
        <div class="form-group">
          <label class="control-label">Edge type</label>
          <select class="form-control" id="edge-type">
            <% settings.clusters.map{|k, v| v.types}.reduce(:|).each do |name| %>
              <option value="<%= name %>">
                <%= name %>
              </option>
            <% end %>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Layout</label>
          <select class="form-control" id="layout">
              <option value="force">
                d3 force
              </option>
              <option value="dagre">
                dagre
              </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" id="draw-button">Draw</button>
      </form>
      <div class="panel panel-info" id="layout-opts" style="display: none;">
        <div class="panel-heading">
          <h3 class="panel-title">Layout</h3>
        </div>
        <div class="panel-body">
          <form class="form" onsubmit="return false;">
            <div class="form-group">
              <label class="control-label">Gravity</label>
              <input type="text" class="form-control" id="gravity" value="0.2">
            </div>
            <div class="form-group">
              <label class="control-label">Charge</label>
              <input type="text" class="form-control" id="charge" value="-500">
            </div>
            <div class="form-group">
              <label class="control-label">Radius</label>
              <input type="text" class="form-control" id="radius" value="10">
            </div>
            <div class="alert alert-info"><strong>Press the shift key</strong> while dragging a node to pin (or unpin) it</div>
            <div class="alert alert-info"><strong>Press the spacebar</strong> to pause layout</div>
          </form>
        </div>
      </div>
      <button class="btn btn-default" data-toggle="modal" data-target="#add-modal">
        Add new cluster
      </button>
    </div>
    <div class="col-lg-8">
      <div id="canvas">
        <svg></svg>
      </div>
    </div>
    <div class="col-lg-2">
    <table id="node-info" class="table table-bordered"></table>
    <% settings.clusters.each do |name, cluster| %>
      <div class="last-updated well well-sm" id="<%= name %>" style="display:none;">
        Last updated on<br> <%= cluster.last_updated.strftime('%d.%m.%Y %H:%M:%S') %>
      </div>
    <% end %>
    <button class="btn btn-default" id="update-button" style="display: none;">Update cached data</button>
    </div>
  </div>
</div>

<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="add-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add new cluster</h4>
      </div>
      <div class="modal-body">
        <form class="form" id="add-form" action="/add-cluster">
          <div class="form-group">
            <label for="name" class="control-label">Name:</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="form-group">
            <label for="url" class="control-label">URL:</label>
            <input type="text" class="form-control" name="url">
          </div>
        </form>     
        <div class="alert alert-danger" role="alert" style="display: none;" id="error-msg">
          <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input class="btn btn-primary" type="submit" value="Add" id="add-button">
      </div>
    </div>
  </div>
</div>

<script src="/js/d3.v3.min.js"></script>
<script src="/js/dagre.min.js"></script>
<script src="/js/viz.js"></script>
